@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}



.main_div{
  display: flex;
  background: purple;
  justify-content: center;
  min-height: 100vh;
}

.child_div {
  text-align: center;
  margin-top: 12rem;
}
.child_div figure img {
  width: 10rem;
  height: 8rem;
}

.child_div h3{
  color: white;
  font-size: 30px;
  padding-top: 10px;
}

input{
  height: 40px;
  width: 400px;
  font-size: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px #888888;
}

.add_btn{
  margin: 10px;
}

.edit_btn{
  margin: 1px;
}

.delete_btn{
  margin: 1px;
}

.showItems {
  margin-top: 10px;
  text-align: center;
}

.eachItem {
  background: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  margin-bottom: 11px;
  margin-left: 16px;
  min-width: 0;
  background: rgb(85, 41, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
}